---------------------------------------------h1{
  color: lime;
  text-align: center;
  background-color: black;
  font-family: monospace;    
}

p{
    text-align: justify
}

strong{
  color: red;
}

nqve{position:absolute
  
  
  
  .caixa{
  with: 940px;
  position:relative
  margin: 0 auto

  
  
  
  
  
  
  
  
  
  
  
  
